{% extends 'base.html.twig' %}

{% block title %}PlanteStock index{% endblock %}

{% block body %}
    <h1>PlanteStock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomPlante</th>
                <th>EtatPlante</th>
                <th>QuantitePlante</th>
                <th>DateEntreeStock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plante_stock in plante_stocks %}
            <tr>
                <td>{{ plante_stock.id }}</td>
                <td>{{ plante_stock.nomPlante }}</td>
                <td>{{ plante_stock.etatPlante }}</td>
                <td>{{ plante_stock.quantitePlante }}</td>
                <td>{{ plante_stock.dateEntreeStock ? plante_stock.dateEntreeStock|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_plante_stock_show', {'id': plante_stock.id}) }}">show</a>
                    <a href="{{ path('app_plante_stock_edit', {'id': plante_stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plante_stock_new') }}">Create new</a>
{% endblock %}
