{{ form_start(form,{"attr":{'novalidate':"novalidate"}}) }}
   <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_r
                
                ow(form.taskTitle, { 'attr': {'class': 'form-control', 'placeholder': 'enter task title'} }) }}
                
            </div>
            <div class="form-group">
                {{ form_row(form.creationDate, { 'attr': {'class': 'form-control', 'placeholder': 'enter creation date'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.deadline, { 'attr': {'class': 'form-control', 'placeholder': 'enter Deadline'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.status, { 'attr': {'class': 'form-control', 'placeholder': 'enter status'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.assignedChef, { 'attr': {'class': 'form-control', 'placeholder': 'enter status'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="todoList">
                <div class="actionBar">
                    <h3>Todo list</h3>
                    <button class="btn addTodo">+</button>
                </div>

            </div>
        </div>
        


    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <div class="errorContainer">
        {% if not form.vars.valid %}
            <ul>
                {# Loop through every form item #}
                {% for child in form.children %}
                    {# Display the errors of the form item #}
                    {%for error in child.vars.errors%}
                        <li class="alert alert-danger">{{error.message}}</li>
                    {%endfor%}
                {%endfor%}
            </ul>
        {%endif%}
    </div>

    <div class="noPadding">
        <button class="btn alazea-btn mt-15">{{ button_label|default('Update') }}</button>
    </div>
{{ form_end(form) }}

<style>
    .noPadding {
        padding:0;
    }

    .todoList {
        padding: 30px;
        background: #f7f7f7;
        min-height: 300px;
    }

    .todoList .actionBar {
        display: flex;
        justify-content: space-between;
    }

    .todoList .addTodo {
        background: #70c745;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        color: #fff;
    }

</style>
 {# 
    ->add('taskTitle')
            ->add('creationDate')
            ->add('deadline')
            ->add('status',EnumType::class, [
                'class' => TaskStatus::class,                
                ])
            ->add('assignedChef')
     #}
